In [ ]:
Introduction to list datatype:

In [ ]:
Definition : A list is a collection of items in a particular order

In [ ]:
Classification : It is classified as mutable datatype

In [ ]:
How do you declare a list -----> [] ---> square brackets

In [1]:
students = ['naveen', 'kranthi', 'hameed', 'john', 'farheen', 'swetha']  # 0,1,2,3,4,5 -----> indexes
print(students)

['naveen', 'kranthi', 'hameed', 'john', 'farheen', 'swetha']

In [ ]:
which data type is used to validate the datatype -----> Answer is type

In [2]:
type(students)

list

In [3]:
print(students)

['naveen', 'kranthi', 'hameed', 'john', 'farheen', 'swetha']

In [ ]:
# how to access the elements from the list.....?

In [ ]:
using indexing we can access the elements from the list

In [ ]:
indexing : 0,1,2,3,4,5......

In [4]:
print(students[1])

kranthi

In [ ]:
here the ouput is kranthi  means it is printing the item which is present on index 1

In [5]:
print(students[3])

john

In [ ]:
if we want to print a name john in the correct format

In [6]:
print(students[3].title())

John

In [ ]:
1. How to add new elements to the list
2. How to modify the elements in the list
3. How to delete the elements in the list

In [7]:
print(students)

['naveen', 'kranthi', 'hameed', 'john', 'farheen', 'swetha']

In [ ]:
# req: i want to add rafi to the above list?

In [9]:
students.append('rafi')
print(students)

['naveen', 'kranthi', 'hameed', 'john', 'farheen', 'swetha', 'rafi']

In [ ]:
# req: i want to add kruthi to the above list

In [10]:
students.append('kruthi')
print(students)

['naveen', 'kranthi', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'kruthi']

In [ ]:
here from the above two ouputs we observed that the item whichever we are adding to the list that will be added at the end

In [ ]:
# req: i want to add kiran to the 3rd index

In [26]:
students.insert(3,'kiran')
print(students)

['namita', 'kranthi', 'kiran', 'kiran', 'kiran', 'kiran', 'kiran', 'kiran', 'kiran', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'kruthi']

In [ ]:
form the above output the name kiran which is added in the 2nd index

In [ ]:
# Interview questin: what is the difference between append and insert in the list

In [ ]:
the append will add the item whichever we want to it will add at the end but te insert will help us to add the item to the point where we will mention it to add

In [13]:
print(students)

['naveen', 'kranthi', 'kiran', 'kiran', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'kruthi']

In [14]:
print(students[2])

kiran

In [ ]:
# how to modify the elements in the list?

In [15]:
print(students)

['naveen', 'kranthi', 'kiran', 'kiran', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'kruthi']

In [ ]:
#req: i want to modify naveen name to namita?

In [16]:
students[0] = 'namita'
print(students)

['namita', 'kranthi', 'kiran', 'kiran', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'kruthi']

In [ ]:
From the above output naveen name is replaced by namita

In [ ]:
3. How to delete the element in the list

In [17]:
print(students)

['namita', 'kranthi', 'kiran', 'kiran', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'kruthi']

In [ ]:
#req : want to delete krannthi name is the list

In [27]:
del students[1]
print(students)

['namita', 'kiran', 'kiran', 'kiran', 'kiran', 'kiran', 'kiran', 'kiran', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'kruthi']

In [28]:
 del students[0]

In [29]:
print(students)

['kiran', 'kiran', 'kiran', 'kiran', 'kiran', 'kiran', 'kiran', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'kruthi']