In [ ]:
Organizing the list data type:

In [1]:
cars = ['kia', 'benz', 'audi', 'bmw', 'suzuki', 'maruthi']

In [2]:
print(cars)

['kia', 'benz', 'audi', 'bmw', 'suzuki', 'maruthi']

In [3]:
type(cars)

list

In [ ]:
#req : i want to organize the above cars list in a alphabetical order  -----> A to Z order

In [ ]:
2 possible Approaches
       1. temporary(temp) approach ---> we can able to maintain  the original irder of the list  -------> sorted
       2. permanent(per) approach -----> changes are fixed, we cannot go back to the orginal order  ------> sort

In [ ]:
#temp approach ----> 1. a to z

In [4]:
print(cars)

['kia', 'benz', 'audi', 'bmw', 'suzuki', 'maruthi']

In [5]:
print(sorted(cars))

['audi', 'benz', 'bmw', 'kia', 'maruthi', 'suzuki']

In [ ]:
from the above output if we observe here the output is printing in the alphabetical order  -----> here there are two elements 'benz' and 'bmw' --> First it will check for letter b and it wil go to second letter there 'e' is the first letter and then 'm' is the second letter so it will print as 'benz' first and then 'bmw'

In [7]:
print(cars)

['kia', 'benz', 'audi', 'bmw', 'suzuki', 'maruthi']

In [ ]:
above one is the original order from the temporary(temp) approach we can be able to get the original order

In [ ]:
# permanent approach :

In [8]:
cars.sort()

In [9]:
print(cars)

['audi', 'benz', 'bmw', 'kia', 'maruthi', 'suzuki']

In [10]:
print(cars)

['audi', 'benz', 'bmw', 'kia', 'maruthi', 'suzuki']

In [ ]:
form the above output we observe that we cannot go abck to the original order in the permanent approach

In [ ]:
# Req: Hoe to print the list in a reverse order ..?  ***

In [11]:
print(cars)

['audi', 'benz', 'bmw', 'kia', 'maruthi', 'suzuki']

In [12]:
cars.reverse()   # the changes are applied permanently

In [13]:
print(cars)

['suzuki', 'maruthi', 'kia', 'bmw', 'benz', 'audi']

In [ ]:
 here reveres is using to print the elements in the reverse order in the list

In [14]:
print(cars)

['suzuki', 'maruthi', 'kia', 'bmw', 'benz', 'audi']

In [ ]:
here we cannot go back to the origina order

In [ ]:
# Req : to count the number of elements in the list

In [15]:
len(cars)

6

In [ ]:
here the len is used to count the number of elements in the list

In [ ]:
Slicing of lists:

In [16]:
students = ['kruthika', 'swarna', 'harish', 'deepthi', 'manoj', 'madhu']

In [17]:
print(students)

['kruthika', 'swarna', 'harish', 'deepthi', 'manoj', 'madhu']

In [ ]:
general of syntax of slicing

In [ ]:
startvalue:stopvalue:stepcunt =======> indexing

In [ ]:
Note : the last value or the stop value is always exclusive, that means it will be included in part of slice.

In [ ]:
Note : increment the index by 1 to nclude the last value or stop value

In [ ]:
# req: want to include kruthika and swarna in the same slice

In [18]:
print(students[0:1])

['kruthika']

In [19]:
print(students[0:2])

['kruthika', 'swarna']

In [21]:
#req: i wnat to include harish ans deepthi in the same slice
print(students)

['kruthika', 'swarna', 'harish', 'deepthi', 'manoj', 'madhu']

In [20]:
print(students[2:4])

['harish', 'deepthi']

In [ ]:
#req : i wnat to include manoj and madhu in the same slice

In [22]:
print(students)

['kruthika', 'swarna', 'harish', 'deepthi', 'manoj', 'madhu']

In [23]:
print(students[4:6])

['manoj', 'madhu']

In [ ]:
here the 6th index is n0t there but we can add it still

In [ ]:
#req : want to print the altenative elements in the list =====> stepcount

In [24]:
print(students[0:6:2])

['kruthika', 'harish', 'manoj']

In [ ]:
tha above output is prinitng alternate  elements in the list

In [29]:
print(students[0:5:2])

['kruthika', 'harish', 'manoj']

In [31]:
print(students[0:6:3])

['kruthika', 'deepthi']

In [32]:
print(students[0:6:4])

['kruthika', 'manoj']

In [33]:
print(students[0:6:5])

['kruthika', 'madhu']